<section>
    <div class="container">
        <div class="card" style="--clr: #009688">
            <div class="img-box">
                <img src="https://i.postimg.cc/t4w95jsf/img-01.png">
            </div>
            <div class="content">
                <h2>Student</h2>
                <p>
                    We're excited to have you on board. Explore your courses, assignments, and educational resources to
                    make the most of your learning experience.
                </p>
                <a [routerLink]="['/student/login']" routerLinkActive="router-link-active">login</a>
            </div>
        </div>
        <div class="card" style="--clr: #FF3E7F">
            <div class="img-box">
                <img src="https://i.postimg.cc/pdjRc68d/img-02.png">
            </div>
            <div class="content">
                <h2>Instructor</h2>
                <p>
                    As an instructor, you play a crucial role in shaping the minds of future professionals. Manage your
                    courses, create engaging content, and inspire your students to excel.
                </p>
                <a [routerLink]="['/instructor/login']" routerLinkActive="router-link-active">login</a>
            </div>
        </div>
    </div>
</section>